<!doctype html>
<html>
	<head>
		<title>Gmail Filter Application</title>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<script src="resources/js/jquery-ui.min.js"></script>
		<script src="reources/js/jquery.min.js"></script>
	</head>
	<body>
		{% if name %}
		  <h1>Hello {{ name }}!</h1>
		{% else %}
		  <h1>Hello World!</h1>
		{% endif %}
		<form action="upload" method="post" name="upload" enctype="multipart/form-data">
			<!--<div class="g-recaptcha" data-sitekey="6LejXwMTAAAAADwak1utRHB8k_MZPctQCF9HqZuS"></div>-->
			<input type="file" required="required" name="file">
			<input type="submit" value="Hello"/>
		</form>
	</body>
</html>